[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = My personal blog
[access "refs/*"]
	owner = group user/Mhd Alghosh (MohamadAlghish93)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mhd Alghosh (MohamadAlghish93)
	label-Verified = -1..+1 group user/Mhd Alghosh (MohamadAlghish93)
	push = group user/Mhd Alghosh (MohamadAlghish93)
	read = group user/Mhd Alghosh (MohamadAlghish93)
	rebase = group user/Mhd Alghosh (MohamadAlghish93)
	removeReviewer = group user/Mhd Alghosh (MohamadAlghish93)
	submit = group user/Mhd Alghosh (MohamadAlghish93)
[access "refs/heads/*"]
	create = group user/Mhd Alghosh (MohamadAlghish93)
	push = +force group user/Mhd Alghosh (MohamadAlghish93)
	pushMerge = group user/Mhd Alghosh (MohamadAlghish93)
	read = group user/Mhd Alghosh (MohamadAlghish93)
[access "refs/tags/*"]
	push = group user/Mhd Alghosh (MohamadAlghish93)
	push = +force group user/Mhd Alghosh (MohamadAlghish93)
[access "refs/for/*"]
	read = group Anonymous Users
